.button, button {
  background-color: $color-dark-green;
  border: none;
  border-radius: 3px;
  color: $color-white;
  padding: 1em 1.5em;

  &:hover {
    background-color: lighten($color-dark-green, 10%);
  }
}
