nav {
  @include flex-row-wrap;
  background-color: darken($color-red, 20%);
  color: $color-white;
  justify-content: space-around;
  padding: 1em;

  a {
    color: $color-white;
    font-size: $font-size-medium;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
