$font-family-serif: serif;
$font-family-sans-serif: sans-serif;

$font-size-large: 1.5em;
$font-size-medium: 1.25em;
$font-size-normal: 1em;
$font-size-small: 0.9em;

$font-weight-black: 800;
$font-weight-bold: 600;
$font-weight-semibold: 500;
$font-weight-normal: 400;
$font-weight-thin: 300;
$font-weight-light: 200;

* {
  font-family: $font-family-sans-serif;
  font-size: 100%;
}

h1, h2, h3 {
  font-family: $font-family-serif;
}

h1 {
  font-size: $font-size-large;
  font-weight: $font-weight-black;
}

h2 {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
}
